In [2]:
##map --- map(function,iterable)
def sq(num):
    return num*num
lst = [1,2,3,4,5]
result = map(sq,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [3]:
##filter --- filter(function,iterable)
lst = [1,2,3,4,5]
result = filter(lambda num : num%2==0,lst)
print(list(result))

[2, 4]

In [8]:
##reduce
from functools import reduce
lst = [1,2,3,4,5]
result = reduce(lambda num1, num2 : num1+num2,lst)
print(result)

15

In [12]:
##enumerate
lst = ["mohan","rohan","harshit","abhishek","tanish"]
result = enumerate(lst,start=15)
print(list(result))

[(15, 'mohan'), (16, 'rohan'), (17, 'harshit'), (18, 'abhishek'), (19, 'tanish')]

In [18]:
##zip function --- it is usrd to combine two or more iterable
lst1 = ["abhi","kalu","abhishek","khushi"]
lst2 = [1,2,3,4]
result = zip(lst1,lst2)
print (list(result))

[('abhi', 1), ('kalu', 2), ('abhishek', 3), ('khushi', 4)]

In [19]:
zipped = [("abhi",1),("kalu",2),("abhishek",3),("khushi",4)]
result ,number= zip(*zipped)
print(list(result))
print(list(number))

['abhi', 'kalu', 'abhishek', 'khushi']
[1, 2, 3, 4]