In [ ]:
dt ={
    "name":["hello","abhishek"],
    "age":20,
    
}

In [4]:
##nested for loop
lst1 = [1,2,3]
lst2 = ["red","blue","green"]
for i in lst1:
    for j in lst2:
      print(i,j)
      print("----")

1 red
----
1 blue
----
1 green
----
2 red
----
2 blue
----
2 green
----
3 red
----
3 blue
----
3 green
----

In [5]:
##break and continue
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [6]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [7]:
##pass
for i in range (1,10):
    pass

In [1]:
lst = [1,2,3,4,5]
lst1 =[]
for i in lst:
    lst1.append(i**2)
    print(lst1)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [5]:
#while loop
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
i = 10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1